@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

body {
    margin: 0px;
    height: 625px;
    background: linear-gradient(180deg, #2F2325 0%, rgba(47, 35, 37, 0) 100%), #7E528E;
    font-size: 100%;
}

#lucas {
    font-family: 'Water Brush';
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    position: relative;
    top: -7px;
    margin-bottom: 0px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 0.5px #dfdbdb;
}

#menuCabecalho {
    display: flex;
    gap: 35px;
}

.paginas {
    font-family: 'Righteous', sans-serif;
    color: #dfdbdb;
}

#formatacao0 {
    text-decoration: none;
}

#comunidade {
    text-decoration: underline white;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
}

hr {
    width: 1362px;
}

hr {
    width: 150px;
}

.principal {
    margin-top: 30px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#titulo {
    font-family: Poppins, sans-serif;
    color: #dfdbdb;
    font-weight: 100;
    font-size: 30px;
    margin: 0px;
    text-align: center;
}

#retangulo {
    width: 380px;
    height: 450px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.29) 0%, rgba(255, 255, 255, 0) 100%), rgba(126, 82, 142, 0.35);
    border-radius: 20px;
}

#sign-in {
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'Doppio One', sans-serif;
    color: #dfdbdb;
    font-weight: 100;
    font-size: 40px;
    text-shadow: 0px 4px 4px #000000;
}

#google {
    border-radius: 20px;
    background-color: #2662C6;
    border: 0px;
    width: 250px;
    height: 28px;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(google.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 24px;
    cursor: pointer;
    margin-left: 60px;
    margin-bottom: 25px;
}

#google::placeholder {
    color: #dfdbdb;
    font-weight: bold;
    font-size: 14px;
}

#link {
    cursor: pointer;
    text-decoration: none;
}

.emailSenha {
    font-family: 'Poppins', sans-serif;
    color: #dfdbdb;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 0px;
}

.input {
    font-family: 'Poppins', sans-serif;
    color: #1b2029;
    font-weight: bold;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 200px;
    text-align: left;
    margin-top: 5px;
    margin-left: 90px;
    text-align: center;
    
}

#esqueceuSenha {
    font-family: 'Poppins', sans-serif;
    color: #3480FF;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
    margin-left: 200px;
}

#submit {
    margin-top: 20px;
    margin-left: 150px;
    background: #D399E8;
    box-shadow: 0px 4px 4px #000000;
    border-radius: 20px;
    border: none;
    width: 80px;
    height: 28px;
    font-family: 'Poppins', sans-serif;
    color: #dfdfdf;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}